body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* nav style  */

.nav_a{
    text-decoration: none;
    color: rgb(248, 248, 248);
}
a{
    text-decoration: none;
}
.name{
    font-size: 35px;
    font-weight: 400;
    color: crimson;
    font-weight: bold;
}
h1{
    
    font-size: 35px;
    font-weight: 400;
    font-weight: bold;
  
}
h3{
    font-size: 25px;
    font-weight: 200;
    color: rgb(0, 0, 0);
}
ul{
    list-style: none;
}
section{
    display: flex;
    width: 100%;
}
nav{
    
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: rgb(0, 0, 0);
}
nav ul {
    display: flex;
}
nav ul li{
    padding: 0px 30px;
   
}
.navi{
    width: 100%;
}

.bth1{
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    
}
.btn2{
    padding: 5px 20px;
    background-color: black;
    color: rgb(248, 248, 248);
    border-radius: 10px;
}

/* hero section */

.top-section{
    margin: auto 10%;
    width: 40%;
}
.top-section-img{
    padding: 0% 5%;
    width: 40%;
}
.top-banner{
    background-image: url(images/top-banner.jpg);
     background-size: cover;
}
.akash-pic{
    padding-top: 20%;
    padding-right: 15%;
    margin: 0 auto;
   
    width: 75%;

}
.navigation{
    display: relative;
}

/**** about section *****/

.about{
    display: flex;
    display:absolute;
    align-items: center;
    padding: 20px 30px;
    margin: -90px 10%;
    border-radius: 50px;
    background-color: white;
    box-shadow: 10px 10px 40px rgb(158, 154, 154);
}
.about-pic{
  
   display:flex;
   justify-content: center;
   align-items: center;
    width: 40%;
    padding-top: 2%;
}
.about-pic img{
    width: 100%;
}
.about-text{
    width: 50%;
    margin-left: 5%;
}



/* experience style */
.sec{
    padding-top: 5%;
}
.experience-text{
    padding: 5% 8%;
    text-align: center;
}

.item-section{
    display: flex;
    justify-content:space-evenly;
   

}
.item{
    width: 25%;
    padding: 2%;
    text-align: justify;
    margin-bottom: 10%;
    color: rgb(248, 248, 248);
    background-color: rgb(7, 1, 1);
    box-shadow: 10px 10px 30px rgb(136, 133, 133);
}
.item-head{
    text-align: center;
}
p{
    font-weight: 100;
}
footer
{
    text-align: center;
    padding: 30px 8%;
    color: white;
    background-color: black;

}